* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;

  color: rgba(255, 255, 255, 0.9);
}
.app {
  background-image: url(./assets/space-bg.png);
  background-size: cover;
  background-position: bottom;
}

.colorFilter {
  background-image: linear-gradient(
    to bottom,
    rgba(200, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
}

main {
  padding: 20px;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-size: 48px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.date {
  margin: 15px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.description {
  margin: 15px;
  letter-spacing: 0.1rem;
  font-stretch: 4px;
  font-size: 16px;
  font-style: oblique;
  text-align: justify;
}

.btn {
  padding: 5px;
  font-size: 20px;
  border: none;
  color: rgba(56, 129, 255, 0.9);
  background: none;
}

.btn:hover {
  cursor: pointer;
}

.image {
  width: 90%;
  max-width: 900px;
}

.video {
  width: 90%;
  max-width: 900px;
  min-height: 300px;
}

.footer {
  padding-top: 10%;
  text-align: center;
}
